<% content_for :title do %>
  <h1>Teachers</h1>
<% end %>

<%= render 'layouts/table',
           headers: ['Full name', 'Email', 'Show', 'Edit', 'Destroy'],
           rows: @teachers.map { |teacher|
            [teacher.full_name,
             teacher.email,
             link_to('Show', teacher),
             link_to('Edit', edit_teacher_path(teacher)),
             link_to('Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' })]
           } %>

<%= link_to 'New Teacher', new_teacher_path, class:'btn btn-success' %>
