<table class="table">
    <thead class="text-primary">
        <% headers.each do |header| %>
            <th>
                <%= header %>
            </th>
        <% end %>            
    </thead>
    <tbody>
        <% rows.each do |row| %>
            <tr>
                <% row.each do |entry| %>
                    <td>
                        <%= entry %>
                    </td>
                <% end %>            
            </tr>
        <% end %>        
    </tbody>
</table>